# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
.env/

# Django
*.log
db.sqlite3
media/

# IDE Files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
*.coveragerc

# Ignore compiled files from Django migrations
**/migrations/

# Ignore secret settings files
settings.py

# Ignore generated static files (collected by `collectstatic`)
/productionfiles/
